<!-- ================================ -->
<!-- Copyright 2021 © Волегов Александр -->
<!-- Author Волегов Александр -->
<!-- Licensed under the Apache License, Version 2.0 -->
<!-- ================================ -->

<!DOCTYPE HTML>
<html class="has-navbar-fixed-top">
<head>
	<meta charset="utf-8">
	<title>Инструмент для шаблонов Email</title>
	<meta name="author" content="Волегов Александр aka EasternTime">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
	<link rel="manifest" href="static/site.webmanifest">
	<link href="static/style.css" rel="stylesheet">
	<link href="static/modules/downloadarea.css" rel="stylesheet">
	<link href="static/modules/handler.css" rel="stylesheet">
	<link href="static/bulma/bulma.min.css" rel="stylesheet">
	<link href="static/bulma/bulma-collapsible.min.css" rel="stylesheet">
	<link href="static/dist/treejs.css" rel="stylesheet">
	<link href="static/fontawesome/css/all.css" rel="stylesheet">
</head>
<body id="top">
	<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="#top">
				<img src="static/Logo-like-small.png">
			</a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarDesign">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarDesign" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						Инструменты
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item is-active" href="/tools/list">
							Список документов
						</a>
						<a class="navbar-item" href="/tools">
							Версталка
						</a>
						<a class="navbar-item is-active" href="/tools/settings">
							Настройки
						</a>
						<!-- <hr class="navbar-divider"> -->
						<!-- <div class="navbar-item"> -->
							<!-- Version 0.9.3 -->
						<!-- </div> -->
					</div>
				</div>
				
				<div class="navbar-item">
					<div class="vl"></div>
				</div>
				
				<a class="navbar-item is-tab" href="#navImport">
					Импорт
				</a>
				
				<a class="navbar-item is-tab" href="#navLinksColors">
					Ссылки и цвета
				</a>
				
				<a class="navbar-item is-tab" href="#navEditing">
					Редактирование
				</a>
				
				<a class="navbar-item is-tab" href="#navResult">
					Результат
				</a>
			</div>
			<div class="navbar-end">
				<div id="navbarUsers" class="navbar-item">
					Подключение...
				</div>
			</div>
		</div>
	</nav>

	<section class="section">
	
		<nav id="breadcrumb" class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><a href="/tools/list?directory=%2F">Корневая папка</a></li>
				<!-- <li><a href="#">Под</a></li> -->
				<!-- <li><a href="#">Breadcrumbs</a></li> -->
				<li class="is-active"><a id="breadcrumbName" href="#" aria-current="page">Вёрстка Email</a></li>
			</ul>
		</nav>
	
		<div class="columns">
			<div class="column is-two-thirds">
				<label class="label">Название документа</label>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input id="inputName" class="input" type="text">
					</div>
					<div class="control">
						<button id="saveButton" class="button">
							Сохранить
						</button>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<div class="columns">
			<div class="navAnchor" id="navImport"></div>
			<div class="column">
				<div class="field">
					<label class="label">Импорт из HTML</label>
					<div class="control">
						<textarea id="importTextArea" name="importTextArea" class="textarea"></textarea>
					</div>
				</div>
				<div class="control">
					<input id="import" type="button" class="button is-primary" onclick="goImport()" value="Импортировать" size="100%">
				</div>
				<!-- <form class="uploadbox" method="post" action="" enctype="multipart/form-data"> -->
					<!-- <div class="uploadbox__input"> -->
						<!-- <input class="uploadbox__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple /> -->
						<!-- <label for="file"><strong>Choose a file</strong><span class="uploadbox__dragndrop"> or drag it here</span>.</label> -->
						<!-- <button class="uploadbox__button" type="submit">Upload</button> -->
					<!-- </div> -->
					<!-- <div class="uploadbox__uploading">Uploading…</div> -->
					<!-- <div class="uploadbox__success">Done!</div> -->
					<!-- <div class="uploadbox__error">Error! <span></span>.</div> -->
				<!-- </form> -->
			</div>
			<div class="column">
				<label class="label">Помощь</label>
				<!-- Аккордеон с помощью -->
				<div id="accordion_meta">
					<article class="message tighter-message">
						<div data-href="collapsible-message-accordion-meta-1" data-parent="accordion_meta" class="message-header message-bg-grey accordionClick">
							<p>Пошаговые инструкции</p>
						</div>
						<div id="collapsible-message-accordion-meta-1" class="message-body collapsible-message" data-parent="accordion_meta">
							<div class="message-body-content content">
								<!-- Аккордеон с пунктами -->
								<div id="accordion_manual">
									<article class="message tighter-message">
										<div data-href="collapsible-message-accordionB-1" data-parent="accordion_manual" class="message-header message-bg-grey accordionClick">
											<p>1. (Опционально) Импортируйте текст из Google Docs.</p>
										</div>
										<div id="collapsible-message-accordionB-1" class="message-body collapsible-message" data-parent="accordion_manual">
											<div class="message-body-content content">
												<ol class="listLetters">
													<li>
														Откройте нужный документ;
													</li>
													<li>
														Если у вас не установлен Docs to Markdown: Дополнения -> Установить дополнения;
													</li>
													<li>
														Дополнения -> Docs to Markdown -> Convert;
													</li>
													<li>
														Нажмите на кнопку "HTML";
													</li>
													<li>
														Вставьте содержимое буфера обмена в поле "Импорт" на этой странице;
													</li>
													<li>
														Нажмите на кнопку "Импортировать".
													</li>
												</ol>
											</div>
										</div>
									</article>
									<article class="message tighter-message">
										<div data-href="collapsible-message-accordionB-2" data-parent="accordion_manual" class="message-header message-bg-grey accordionClick">
											<p>2. (только верстальщикам) Подготовьте кампанию на Emarsys.</p>
										</div>
										<div id="collapsible-message-accordionB-2" class="message-body collapsible-message" data-parent="accordion_manual">
											<div class="message-body-content content">
												<ol class="listLetters">
													<li>
														Скопируйте любую кампанию на Емарсис;
													</li>
													<li>
														Заполните название кампании по шаблону "[номер задачи] - [название задачи] [дата отправки]", подробнее <a href="https://docs.google.com/document/d/1iDByiow7tPR8WIoS0Ej_JCjtJHnWdKOVeXQUq4ACzhQ/edit">здесь</a>;
													</li>
													<li>
														Выберите нужный сегмент рассылки;
													</li>
													<li>
														Заполните заголовок и прехедер письма;
													</li>
													<li>
														Удалите все лишние версии в письме;
													</li>
													<li>
														Перейдите на редактирование кода письма.
													</li>
												</ol>
											</div>
										</div>
									</article>
									<article class="message tighter-message">
										<div data-href="collapsible-message-accordionB-3" data-parent="accordion_manual" class="message-header message-bg-grey accordionClick">
											<p>3. На этой странице заполните поля с баннерами, гифками и ссылками.</p>
										</div>
										<div id="collapsible-message-accordionB-3" class="message-body collapsible-message" data-parent="accordion_manual">
											<div class="message-body-content content">
												<ol class="listLetters">
													<li>
														Загрузите баннер на Emarsys и вставьте ссылку на него в соотвествующее поле;
													</li>
													<li>
														Выберите цвет кнопки из списка, либо скопируйте его при помощью пипетки в режиме разработчика (Ctrl+Shift+I). Если текст слишком светлый, поставьте галочку "Ссылки потемнее".
													</li>
													<li>
														Выберите соответствующий цвет шрифта на кнопках;
													</li>
													<li>
														Скопируйте ссылки на гифки и вставьте их в соответствующие поля. Ссылки должны быть напрямую на *.gif, а не на страницу с ним!
													</li>
													<li>
														Вставьте основную ссылку кампании (из задачи или из гугл-документа);
													</li>
													<li>
														Если ссылка ведёт на Лайк-центр или Бизон, добавьте к ссылке UTM. Для этого нажмите кнопку ярлычка справа от поля основной ссылки.
													</li>
													<li>
														Убедитесь, что заголовок письма импортировался правильно.
													</li>
												</ol>
											</div>
										</div>
									</article>
									<article class="message tighter-message">
										<div data-href="collapsible-message-accordionB-4" data-parent="accordion_manual" class="message-header message-bg-grey accordionClick">
											<p>4. Перейдите к редактированию поста на этой странице.</p>
										</div>
										<div id="collapsible-message-accordionB-4" class="message-body collapsible-message" data-parent="accordion_manual">
											<div class="message-body-content content">
												<ol class="listLetters">
													<li>
														Убедитесь, что всё импортировано правильно, и текст не потерян в процессе;
													</li>
													<li>
														<strong>Обязательно</strong> почистите результат - в него могли затесаться ссылки или лишние теги;
													</li>
													<li>
														Убедитесь, что теги списка расставлены правильно. <code>[ListA]</code> для списков со звёздочками, <code>[ListB]</code> для списков с цифрами;
													</li>
													<li>
														Поставьте вручную недостающие теги в письме;
													</li>
													<li>
														(Опционально) Нажмите на кнопку "Оттипографить", чтобы автоматически расставить неделимые пробелы <code>&amp;nbsp;</code> и заменить эмодзи на коды HTML entity. Очень важно: в теле письма и подзаголовке письма не должно быть эмодзи, не заменённых на коды!
													</li>
													<li>
														Нажмите "Отправить" и <strong>внимательно</strong> проверьте предпросмотр в поле справа.
													</li>
												</ol>
											</div>
										</div>
									</article>
								</div>
								
								<ol class="listNumbers" start="5">
									<li>
										Если всё верно, нажмите на кнопку "Скопировать результат".
									</li>
									<li>
										Замените текст в Emarsys скопированным текстом.
									</li>
									<li>
										???
									</li>
									<li>
										Вы восхитительны!
									</li>
								</ol>
							</div>
						</div>
					</article>
					<article class="message tighter-message">
						<div data-href="collapsible-message-accordion-meta-2" data-parent="accordion_meta" class="message-header message-bg-grey accordionClick">
							<p>Помощь по другому функционалу</p>
						</div>
						<div id="collapsible-message-accordion-meta-2" class="message-body collapsible-message" data-parent="accordion_meta">
							<div class="message-body-content content">
								<div id="accordion_manual2">
									<article class="message tighter-message">
										<div data-href="collapsible-message-accordionManual2-1" data-parent="accordion_manual2" class="message-header message-bg-grey accordionClick">
											<p>Сохранение и совместное редактирование</p>
										</div>
										<div id="collapsible-message-accordionManual2-1" class="message-body collapsible-message" data-parent="accordion_manual2">
											<div class="message-body-content content">
												<p>Чтобы сохранить документ:</p>
												<ol class="listNumbers">
													<li>
														Вверху страницы введите название документа;
													</li>
													<li>
														Нажмите "Сохранить";
													</li>
													<li>
														(опционально) Создайте новую папку;
													</li>
													<li>
														Выберите папку для сохранения.
													</li>
												</ol>
												<p>После этого можно скопировать ссылку прямо из адресной строки и поделиться ей.</p>
												<p>На сайте работает совместное редактирование. Если кто-то вносит изменения в открытый у вас документ, вы увидите эти изменения примерно через секунду, в зависимости от вашей скорости интернета. Обращу внимание, что лучше не пытаться печатать в текстовое поле одновременно с кем-то, т.к. алгоритм сведения текста несовершенен и вы можете затирать текст друг другу.</p>
												<p>Если нужно закрыть документ и вернуться к оффлайн-режиму, в панели навигации сверху нажмите Инструменты -> Версталка. Либо удалите в адресной строке часть, которая начинается с <code>?id=</code>.</p>
												<p>Если нужно открыть один из сохранённых документов, это можно сделать через меню проводника.</p>
												<ol class="listNumbers">
													<li>
														В навигационной панели наверху страницы выберите Инструменты -> Список документов;
													</li>
													<li>
														Найдите нужную папку и кликните по документу.
													</li>
													<li>
														(опционально) Вы можете искать по открытой сейчас папке с помощью поля "поиск".
													</li>
													<li>
														(опционально) Вы можете переместить или скопировать интересующий ваш документ с помощью кнопок справа.
													</li>
												</ol>
											</div>
										</div>
									</article>
									<article class="message tighter-message">
										<div data-href="collapsible-message-accordionManual2-2" data-parent="accordion_manual3" class="message-header message-bg-grey accordionClick">
											<p>Прочие кнопки на странице</p>
										</div>
										<div id="collapsible-message-accordionManual2-2" class="message-body collapsible-message" data-parent="accordion_manual3">
											<div class="message-body-content content">
												<p>Кнопка справа от поля "Главная ссылка" позволяет быстро добавить к ссылке UTM-метки. Программа попытается угадать их, если у файла есть название, но вы всё ещё можете ввести их вручную.</p>
												<p>Кнопки над полем "Предпросмотр" позволяют выбрать ширину этого поля. Первые две кнопки устанавливают типичные размеры для десктопа и телефона. В правое поле можно ввести своё значение, в пикселах. Мы используем адаптивную вёрстку писем, и она выглядит немного иначе на компьютерах и мобильных устройствах. Если результат неопрятен, не беспокойтесь: верстальщик может поправить их вручную при переносе в Емарсис.</p>
												<p>Кнопки над полем "Редактирование поста". Если навести на них курсор мыши, появится всплывающая подсказка, которая объясняет, как пользоваться этим тегом. Теги бывают парные (большинство) и непарные (старый баннер, картинки, гифки). Следите, чтобы парные теги обязательно были закрыты, чтобы не было лишних пробелов, или это поломает разметку письма.</p>
												<p>Кнопка "Комментарий" позволяет редактору добавить комментарий к выделенному тексту в письме. Текст будет подсвечен жёлтым, и по нему можно будет кликнуть, чтобы увидеть текст комментария и/или изменить его. Комментарии видны только в программе и не входят в вёрстку письма.</p>
												<p>Для схожих целей существует поле "Заметки". Пишите туда вещи, которые должны быть сохранены, но не быть видны в вёрстке. Например, альтернативные заголовки письма для А/Б-тестов.</p>
												<p>Кнопка "Оттипографить" позволяет программе автоматически расставить спецсимволы и неделимые пробелы, устранить типичные огрехи вёрстки текста. Она, впрочем, не заменяет полностью программиста. Обращу внимание, что спецсимволы в HTML отображаются как &-коды, например: <code>&amp;nbsp;</code> или <code>&amp;shy;</code>. Это <em>не</em> ошибка и не порча текста. Смотрите на превью.</p>
											</div>
										</div>
									</article>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="navAnchor" id="navLinksColors"></div>
			<div class="column">
				<div class="field">
					<p><b>Баннер:</b></p>
					<div class="control">
						<input id="inputBannerLink" class="mainEditElement input" type="text" class="input">
					</div>
				</div>
				<div class="field">
					<p><b>Цвет кнопок:</b></p>
					<div id="colors" class="control">
						<!-- <label class="radio"> -->
							<!-- <input id="inputButtonColor8" name="inputButtonColor" type="radio" class="mainEditElement" value="#191919" onclick="colorChange('#FFFFFF',false);"> -->
							<!-- <img class="colorPreview" style="background-color:#191919"> -->
							<!-- Чёрный -->
						<!-- </label> -->
						<!-- <label class="radio"> -->
							<!-- <input id="inputButtonColor9" name="inputButtonColor" type="radio" class="mainEditElement" value="custom"> -->
							<!-- Свой -->
						<!-- </label> -->
					</div>
					<div class="field has-addons">
						<div class="control is-expanded has-icons-left">
							<input id="inputButtonColorCustom" class="mainEditElement input" type="text" class="input">
							<span id="colorCustomPreview" class="icon is-medium is-left">
								<!-- <span class="icon is-small"> -->
									<i class="fas fa-square"></i>
								<!-- </span> -->
							</span>
						</div>
						<!-- Пока что я не знаю, как заставить пипетку работать. Однажды... -->
						<div class="control is-hidden">
							<a class="button">
								<i class="fas fa-eye-dropper"></i>
							</a>
						</div>
					</div>
					<div class="control">
						<label class="checkbox" title="Делает цвет ссылок немного (~15%) более тёмным, чтобы они лучше читались на светлом фоне.">
							<input id="inputDarkerLinks" class="mainEditElement" type="checkbox" size="100%">
							Ссылки потемнее
						</label>
					</div>
				</div>
				<p><b>Цвет шрифта кнопок:</b><br>
					<div class="control">
						<label class="radio">
							<input id="inputFontColor1" name="inputFontColor" class="mainEditElement" type="radio" value="#FFFFFF" checked>
							<img class="colorPreview" style="background-color:#FFF">
							#FFF (белый)
						</label>
						<label class="radio">
							<input id="inputFontColor2" name="inputFontColor" class="mainEditElement" type="radio" value="#111111">
							<img class="colorPreview" style="background-color:#111">
							#111 (чёрный)
						</label>
					</div>
				</p>
			</div>
			<div class="column">
				<p><b>Гифка/Картинка 1:</b></p>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input id="inputGif1" type="text" class="input mainEditElement">
					</div>
					<!-- <div class="control"> -->
						<!-- <a id="buttonGetGif1" class="button" title="Попытаться извлечь гифку из ссылки"> -->
							<!-- <span class="icon is-small"> -->
								<!-- <i class="fas fa-images"></i> -->
							<!-- </span> -->
						<!-- </a> -->
					<!-- </div> -->
				</div>
				<p><b>Гифка/Картинка 2:</b></p>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input id="inputGif2" type="text" class="input mainEditElement">
					</div>
					<!-- <div class="control"> -->
						<!-- <a id="buttonGetGif2" class="button" title="Попытаться извлечь гифку из ссылки"> -->
							<!-- <span class="icon is-small"> -->
								<!-- <i class="fas fa-images"></i> -->
							<!-- </span> -->
						<!-- </a> -->
					<!-- </div> -->
				</div>
				<p><b>Главная ссылка:</b></p>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input id="inputMainLink" type="text" class="input mainEditElement">
					</div>
					<div class="control">
						<a id="linkWrapButton" class="button" title="Добавить к ссылке UTM-метки">
							<span class="icon is-small">
								<i class="fas fa-tags"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="field">
					<p><b>Заголовок:</b></p>
					<div class="control">
						<input id="inputHeader" type="text" class="input mainEditElement">
					</div>
				</div>
				<div class="field">
					<p><b>Подзаголовок:</b></p>
					<div class="control">
						<input id="inputPreheader" type="text" class="input mainEditElement">
					</div>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="navAnchor" id="navEditing"></div>
			<div class="column">
					<label class="label">Редактирование поста</label>
					<div id="tagButtons" class="buttons has-addons are-small noMargin">
						<!-- Кнопочки здесь -->
					</div>
					<div class="buttons has-addons are-small noMargin">
						<button id="buttonComment" class="button">Комментарий</button>
					</div>
					<div class="field">
						<div class="control">
							<!-- Редактор -->
							<div class="editor">
								<div id="mainTextArea" class="content-area" contenteditable="true">
								</div>
							</div>
						</div>
					</div>
					<div class="buttons">
						<input id="submit" type="submit" class="button is-primary" onclick="goSubmit(true)" value="Обработать">
						<button id="makeGood" class="button">Оттипографить</button>
						<button id="copy" class="button" onclick="goCopy()">Скопировать результат</button>
						<button id="download" class="button is-hidden" onclick="goDownload()">Скачать проект</button>
					</div>
					<div class="control">
						<label class="checkbox" title="Влияет на производительность. Отключите, если у вас &quot;прыгает&quot; курсор в тексте.">
							<input id="checkboxHighlightCode" class="mainEditElement" type="checkbox" size="100%">
							Подсветка кода
						</label>
					</div>
					<div class="control">
						<label class="checkbox" title="Включает отображение спецсимволов в поле редактирования. Нажмите 'Оттипографить', чтобы применить.">
							<input id="checkboxShowEntities" class="mainEditElement" type="checkbox" size="100%">
							Отображать спецсимволы как HTML entity codes
						</label>
					</div>
			</div>
			<div class="column">
				<label class="label">Предпросмотр</label>
				<div class="control">
					<div class="buttons are-small noMargin">
						<button id="previewPC" class="button is-active" title="Предпросмотр на всю ширину.">
							<span class="icon is-small">
								<i class="fas fa-desktop"></i>
							</span>
						</button>
						<button id="previewMobile" class="button" title="Предпросмотр как на мобильном устройстве.">
							<span class="icon is-small">
								<i class="fas fa-mobile-alt"></i>
							</span>
						</button>
						<div class="field has-addons">
							<div class="control">
								<a id="previewCustom" class="button is-small" title="Задать ширину просмотра самостоятельно.">
									<span class="icon is-small">
										<i class="fas fa-arrows-alt-h"></i>
									</span>
								</a>
							</div>
							<div class="control">
								<input id="previewSize" type="number" class="input is-small">
							</div>
						</div>
					</div>
				</div>
				<iframe src="about:blank" id="previewArea" style="width:100%; height:100%"></iframe>
			</div>
		</div>
	</section>
	
	<!-- <div><p>&nbsp;</p></div> -->
	
	<section class="section">
		<div class="columns">
			<div class="navAnchor" id="navResult"></div>
			<div class="column">
				<div class="container">
					<div class="field">
						<label class="label">Заметки</label>
						<div class="control">
							<textarea name="notes" id="notesArea" class="textarea" width="100%"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<div class="field">
						<label class="label">Результат</label>
						<div class="control">
							<textarea name="result" id="resultArea" class="textarea" width="100%"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Форма добавления UTM-меток -->
	<div id="modalWrap" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:auto;">
			<header class="modal-card-head">
				<p class="modal-card-title">Конструктор UTM-меток</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				<!-- <div class="field is-grouped is-grouped-multiline"> -->
				<nav class="level">
					<div class="level-item">
						<div class="field" style="margin: auto 10px;">
							<label>Ссылка:</label>
							<div class="control">
								<input id="modalWrapLink" class="input modalWrapInput" type="text" style="width: 250px;">
							</div>
						</div>
					</div>
					<div class="level-item">
						<div class="field" style="margin: auto 10px;">
							<label>Номер задачи:</label>
							<div class="control">
								<input id="modalWrapTask" class="input modalWrapInput" type="text" style="width: 120px;">
							</div>
						</div>
					</div>
					<div class="level-item" style="margin: auto 10px;">
						<div class="field">
							<label>Тип рассылки:</label>
							<br>
							<div class="select">
								<select id="modalWrapType" class="modalWrapInput">
									<option>crm_marketing</option>
									<option>annonce_kp</option>
									<option>service_kp</option>
									<option>native_kp</option>
									<option>emergency</option>
									<option>autoemail</option>
								</select>
							</div>
						</div>
					</div>
					<div class="level-item" style="margin: auto 10px;">
						<div class="field">
							<label>Продукт:</label>
							<br>
							<div class="select">
								<select id="modalWrapProduct" class="modalWrapInput">
									<option>concentrat</option>
									<option>reality</option>
									<option>speed</option>
									<option>sotka</option>
									<option>strategy</option>
									<option>msa</option>
									<option>event</option>
								</select>
							</div>
						</div>
					</div>
				</nav>
				<!-- </div> -->
				
				<div class="field">
					<label>Предпросмотр ссылки:</label>
					<div class="control">
						<input id="modalWrapPreview" class="input" type="text">
					</div>
				</div>
				
			</section>
			<footer class="modal-card-foot">
				<button id="modalWrapAccept" class="button is-primary">Применить</button>
				<button class="button modalClose">Отмена</button>
			</footer>
		</div>
	</div>
	
	<!-- Форма сохранения -->
	<div id="modalSave" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:auto;">
			<header class="modal-card-head">
				<p class="modal-card-title">Выберите папку, куда сохранить файл&nbsp;</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				
				<div class="field is-scrollable" style="min-height:30vh; max-heignt:60vh;">
					<div class="control">
						<div id="treeview"></div>
					</div>
				</div>
				
			</section>
			<footer class="modal-card-foot">
				<button id="modalSaveAccept" class="button is-primary">Сохранить</button>
				<button class="button modalClose">Отмена</button>
				
				<button id="modalSaveNewDir" class="button" style="margin-left: auto;">Новая папка</button>
			</footer>
		</div>
	</div>
	
	<!-- Форма создания новой папки -->
	<div id="modalNewDir" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:340px;">
			<header class="modal-card-head">
				<p class="modal-card-title">Новая папка</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				<p>Название новой папки:</p>
				<p class="control">
					<input id="modalNewDirName" class="input" type="text">
				</p>
			</section>
			<footer class="modal-card-foot">
				<button id="newDirAccept" class="button is-primary">Создать</button>
				<button class="button modalClose">Отмена</button>
			</footer>
		</div>
	</div>
	
	<!-- Сообщение об ошибке -->
	<div id="errorMsg" class="error-msg is-hidden">
		<div class="notification is-danger content">
			<button class="delete error-close"></button>
			<div id="errorText" class="error-text content"></div>
		</div>
	</div>
	
	<!-- Всплывающая подсказка -->
	<div id="noteCard" class="is-hidden" style="position:absolute;">
		<div class="modal-card" style="width:360px; max-width: 50vw;">
			<header class="modal-card-head">
				<p id="notePoster" class="modal-card-title">Имя постера</p>
				<button id = "noteClose" class="delete" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<p id="noteDate">Дата заметки</p>
				<div class="control">
					<textarea id="noteText" name="noteText" class="textarea"></textarea>
				</div>
			</section>
			<footer class="modal-card-foot">
				<button id="noteSave" class="button is-primary">Сохранить</button>
				<button id="noteDel" class="button">Удалить</button>
			</footer>
		</div>
	</div>
	
	<footer class="footer-custom has-background-dark has-text-white">
		<div class="content">
			<p>Copyright 2021 © Волегов Александр</p>
			<p>Если у вас возникли проблемы с сайтом, либо вы просто хотите оставить пожелания, пожалуйста, свяжитесь со мной:</p>
			<p>* <a href="https://t.me/EasternTIme">Telegram</a></p>
			<p>* <a href="mailto:a.volegov@likebz.ru">Рабочий Email</a></p>
			<p>* <a href="https://likecentr.bitrix24.ru/company/personal/user/5851/">Битрикс</a></p>
			<p>Сайт, включая серверную часть, находится под лицензией <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>. Любые исходники будут предоставлены мной по требованию.</p>
			<p>&nbsp;</p>
			<p>Сторонние лицензии в проекте:</p>
			<p>Фреймворк <strong>Bulma</strong> от <a href="https://jgthms.com">Jeremy Thomas</a> находится под лицензией <a href="http://opensource.org/licenses/mit-license.php">MIT/Expat</a>.</p>
			<p>Не упомянутые здесь библиотеки и функции принадлежат законным авторам и распространяются по их лицензиям.</p>
		</div>
	</footer>
	
	<script src="static/modules/handler.js"></script>
	<script src="static/modules/fetches.js"></script>
	<script src="static/modules/downloadarea.js"></script>
	{{#if test}}
	<script src="static/MailToolTEST.js"></script>
	{{else}}
	<script src="static/MailTool.js"></script>
	{{/if}}
	<script src="static/modules/accordion.js"></script>
	<!-- <script src="bulma/bulma-collapsible.min.js"></script> -->
	<script type="text/javascript" src="static/dist/tree.js"></script>
	<script type="text/javascript" src="static/dist/he.js"></script>
	<script defer src="static/fontawesome/js/all.js"></script>
	<!-- <link rel="stylesheet" -->
      <!-- href="static/dist/highlightjs/styles/default.min.css"> -->
	<!-- <script src="static/dist/highlightjs/highlight.min.js"></script> -->

</body>
</html>