<!-- ================================ -->
<!-- Copyright 2021 © Волегов Александр -->
<!-- Author Волегов Александр -->
<!-- Licensed under the Apache License, Version 2.0 -->
<!-- ================================ -->

<!DOCTYPE HTML>
<html class="has-navbar-fixed-top">
<head>
	<meta charset="utf-8">
	<title>Инструменты</title>
	<meta name="author" content="Волегов Александр aka EasternTime">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="static/style.css" rel="stylesheet">
	<link href="static/modules/downloadarea.css" rel="stylesheet">
	<link href="static/modules/handler.css" rel="stylesheet">
	<link href="static/bulma/bulma.min.css" rel="stylesheet">
	<link href="static/bulma/bulma-collapsible.min.css" rel="stylesheet">
	<link href="static/dist/treejs.css" rel="stylesheet">
	<link href="static/fontawesome/css/all.css" rel="stylesheet">
</head>
<body id="top">
	<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="#top">
				<img src="static/Logo-like-small.png">
			</a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarDesign">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarDesign" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						Инструменты
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item is-active" href="/tools/list">
							Список документов
						</a>
						<a class="navbar-item" href="/tools">
							Версталка
						</a>
						<a class="navbar-item is-active" href="/tools/settings">
							Настройки
						</a>
						<!-- <hr class="navbar-divider"> -->
						<!-- <div class="navbar-item"> -->
							<!-- Version 0.9.3 -->
						<!-- </div> -->
					</div>
				</div>
				
				<div class="navbar-item">
					<div class="vl"></div>
				</div>
				
				<a class="navbar-item is-tab" href="#navImport">
					Импорт
				</a>
				
				<a class="navbar-item is-tab" href="#navLinksColors">
					Ссылки и цвета
				</a>
				
				<a class="navbar-item is-tab" href="#navEditing">
					Редактирование
				</a>
				
				<a class="navbar-item is-tab" href="#navResult">
					Результат
				</a>
			</div>
		</div>
	</nav>

	<section class="section">
	
		<nav id="breadcrumb" class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><a href="/tools/list?directory=%2F">Корневая папка</a></li>
				<!-- <li><a href="#">Под</a></li> -->
				<!-- <li><a href="#">Breadcrumbs</a></li> -->
				<li class="is-active"><a id="breadcrumbName" href="#" aria-current="page">Вёрстка Email</a></li>
			</ul>
		</nav>
	
		<div class="columns">
			<div class="column is-two-thirds">
				<label class="label">Название документа</label>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input id="inputName" class="input" type="text">
					</div>
					<div class="control">
						<button id="saveButton" class="button">
							Сохранить
						</button>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<div class="columns">
			<div class="navAnchor" id="navImport"></div>
			<div class="column">
				<div class="field">
					<label class="label">Импорт из HTML</label>
					<div class="control">
						<textarea id="importTextArea" name="importTextArea" class="textarea"></textarea>
					</div>
				</div>
				<div class="control">
					<input id="import" type="button" class="button is-primary" onclick="goImport()" value="Импортировать" size="100%">
				</div>
				<!-- <form class="uploadbox" method="post" action="" enctype="multipart/form-data"> -->
					<!-- <div class="uploadbox__input"> -->
						<!-- <input class="uploadbox__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple /> -->
						<!-- <label for="file"><strong>Choose a file</strong><span class="uploadbox__dragndrop"> or drag it here</span>.</label> -->
						<!-- <button class="uploadbox__button" type="submit">Upload</button> -->
					<!-- </div> -->
					<!-- <div class="uploadbox__uploading">Uploading…</div> -->
					<!-- <div class="uploadbox__success">Done!</div> -->
					<!-- <div class="uploadbox__error">Error! <span></span>.</div> -->
				<!-- </form> -->
			</div>
			<div class="column">
				<label class="label">Помощь</label>
				<!-- Аккордеон с помощью -->
				<div id="accordion_meta">
					<article class="message tighter-message">
						<div data-href="collapsible-message-accordion-meta-1" data-parent="accordion_meta" class="message-header message-bg-grey accordionClick">
							<p>Пошаговые инструкции</p>
						</div>
						<div id="collapsible-message-accordion-meta-1" class="message-body collapsible-message" data-parent="accordion_meta">
							<div class="message-body-content content">
								<!-- Аккордеон с пунктами -->
								<div id="accordion_manual">
									<article class="message tighter-message">
										<div data-href="collapsible-message-accordionB-1" data-parent="accordion_manual" class="message-header message-bg-grey accordionClick">
											<p>1. (Опционально) Импортируйте текст из Google Docs.</p>
										</div>
										<div id="collapsible-message-accordionB-1" class="message-body collapsible-message" data-parent="accordion_manual">
											<div class="message-body-content content">
												<ol class="listLetters">
													<li>
														Откройте нужный документ;
													</li>
													<li>
														Если у вас не установлен Docs to Markdown: Дополнения -> Установить дополнения;
													</li>
													<li>
														Дополнения -> Docs to Markdown -> Convert;
													</li>
													<li>
														Нажмите на кнопку "HTML";
													</li>
													<li>
														Вставьте содержимое буфера обмена в поле "Импорт" на этой странице;
													</li>
													<li>
														Нажмите на кнопку "Импортировать".
													</li>
												</ol>
											</div>
										</div>
									</article>
									<article class="message tighter-message">
										<div data-href="collapsible-message-accordionB-2" data-parent="accordion_manual" class="message-header message-bg-grey accordionClick">
											<p>2. (только верстальщикам) Подготовьте кампанию на Emarsys.</p>
										</div>
										<div id="collapsible-message-accordionB-2" class="message-body collapsible-message" data-parent="accordion_manual">
											<div class="message-body-content content">
												<ol class="listLetters">
													<li>
														Скопируйте любую кампанию на Емарсис;
													</li>
													<li>
														Заполните название кампании по шаблону "[номер задачи] - [название задачи] [дата отправки]", подробнее <a href="https://docs.google.com/document/d/1iDByiow7tPR8WIoS0Ej_JCjtJHnWdKOVeXQUq4ACzhQ/edit">здесь</a>;
													</li>
													<li>
														Выберите нужный сегмент рассылки;
													</li>
													<li>
														Заполните заголовок и прехедер письма;
													</li>
													<li>
														Удалите все лишние версии в письме;
													</li>
													<li>
														Перейдите на редактирование кода письма.
													</li>
												</ol>
											</div>
										</div>
									</article>
									<article class="message tighter-message">
										<div data-href="collapsible-message-accordionB-3" data-parent="accordion_manual" class="message-header message-bg-grey accordionClick">
											<p>3. На этой странице заполните поля с баннерами, гифками и ссылками.</p>
										</div>
										<div id="collapsible-message-accordionB-3" class="message-body collapsible-message" data-parent="accordion_manual">
											<div class="message-body-content content">
												<ol class="listLetters">
													<li>
														Загрузите баннер на Emarsys и вставьте ссылку на него в соотвествующее поле;
													</li>
													<li>
														Выберите цвет кнопки из списка, либо скопируйте его при помощью пипетки в режиме разработчика (Ctrl+Shift+I). Если текст слишком светлый, поставьте галочку "Ссылки потемнее".
													</li>
													<li>
														Выберите соответствующий цвет шрифта на кнопках;
													</li>
													<li>
														Скопируйте ссылки на гифки и вставьте их в соответствующие поля. Ссылки должны быть напрямую на *.gif, а не на страницу с ним!
													</li>
													<li>
														Вставьте основную ссылку кампании (из задачи или из гугл-документа);
													</li>
													<li>
														Если ссылка ведёт на Лайк-центр или Бизон, добавьте к ссылке UTM. Для этого нажмите кнопку ярлычка справа от поля основной ссылки.
													</li>
													<li>
														Убедитесь, что заголовок письма импортировался правильно.
													</li>
												</ol>
											</div>
										</div>
									</article>
									<article class="message tighter-message">
										<div data-href="collapsible-message-accordionB-4" data-parent="accordion_manual" class="message-header message-bg-grey accordionClick">
											<p>4. Перейдите к редактированию поста на этой странице.</p>
										</div>
										<div id="collapsible-message-accordionB-4" class="message-body collapsible-message" data-parent="accordion_manual">
											<div class="message-body-content content">
												<ol class="listLetters">
													<li>
														Убедитесь, что всё импортировано правильно, и текст не потерян в процессе;
													</li>
													<li>
														<strong>Обязательно</strong> почистите результат - в него могли затесаться ссылки или лишние теги;
													</li>
													<li>
														Убедитесь, что теги списка расставлены правильно. <code>[ListA]</code> для списков со звёздочками, <code>[ListB]</code> для списков с цифрами;
													</li>
													<li>
														Поставьте вручную теги серой области <code>[Grey]</code> в письме;
													</li>
													<li>
														(Опционально) Нажмите на кнопку "Оттипографить", чтобы автоматически расставить неделимые пробелы <code>&amp;nbsp;</code> и заменить эмодзи на коды HTML entity. Очень важно: в теле письма и подзаголовке письма не должно быть эмодзи, не заменённых на коды!
													</li>
													<li>
														Нажмите "Отправить" и <strong>внимательно</strong> проверьте предпросмотр в поле справа.
													</li>
												</ol>
											</div>
										</div>
									</article>
								</div>
								
								<ol class="listNumbers" start="5">
									<li>
										Если всё верно, нажмите на кнопку "Скопировать результат".
									</li>
									<li>
										Вставьте его в письмо между &lt;!-- Начало контента--&gt; и &lt;!-- Конец контента--&gt;.
									</li>
									<li>
										???
									</li>
									<li>
										Вы восхитительны!
									</li>
								</ol>
							</div>
						</div>
					</article>
					<article class="message tighter-message">
						<div data-href="collapsible-message-accordion-meta-2" data-parent="accordion_meta" class="message-header message-bg-grey accordionClick">
							<p>Как работает импорт</p>
						</div>
						<div id="collapsible-message-accordion-meta-2" class="message-body collapsible-message" data-parent="accordion_meta">
							<div class="message-body-content content">
								<p>Об импорте важно помнить три вещи.</p>
								<ol class="listNumbers">
									<li>
										Вы сейчас смотрите на MVP, минимальный виабельный продукт. Всё это ещё переделывать на тридцать раз.
									</li>
									<li>
										Экспорт из GoogleDocs <strong>чудовищно</strong> грязный. Программа старается его почистить при возможности, но далеко не всегда это сделать легко.
									</li>
									<li>
										Импорт довольно тупой и рассчитывает на соблюдение уже принятого в Лайке стиля оформления текстов: слова "Тема" и "Прех", выделение кнопок звёздочками, и т.п. При отходе от этих конвенций импорт может ломаться.
									</li>
								</ol>
								
								<p><strong>Предложения по улучшению алгоритма принимаются.</strong></p>
								<p>Собственно, именно для этого этот текст и написан.</p>
								
								<div id="accordion_manual2">
									<article class="message tighter-message">
										<div data-href="collapsible-message-accordionManual2-1" data-parent="accordion_manual2" class="message-header message-bg-grey accordionClick">
											<p>Алгоритм импорта, пошагово</p>
										</div>
										<div id="collapsible-message-accordionManual2-1" class="message-body collapsible-message" data-parent="accordion_manual2">
											<div class="message-body-content content">
												<ol class="listNumbers">
													<li>
														Удаляются все комментарии, т.е. "&lt;!-- текст --&gt;";
													</li>
													<li>
														Все &lt;br&gt; меняются на переносы строки;
													</li>
													<li>
														Все неделимые пробелы &amp;nbsp; меняются на простые пробелы;
													</li>
													<li>
														Удаляются все пробелы в начале и конце строк;
													</li>
													<li>
														Удаляются пустые строки;
													</li>
													<li>
														Все теги начала и конца абзаца &lt;p&gt; заменяются на теги [P] и [/P];
													</li>
													<li>
														К стоящим на отдельной строке осиротевшим тегам [P] и [/P] добавляется пара;
													</li>
													<li>
														Программа пытается опознать гифки, отыскивая подстроку giphy.com между парой тегов [P][/P], стоящих не более чем в одном переносе строки друг от друга;
													</li>
													<li>
														Теги жирного шрифта &lt;strong&gt; и &lt;b&gt; меняются на тег [B];
													</li>
													<li>
														Аналогично с наклонным - &lt;em&gt; и &lt;i&gt; меняются на тег [I];
													</li>
													<li>
														Подчёркивания строки через &lt;span&gt; меняются на ссылки [Link];
													</li>
													<li>
														Все списки &lt;ul&gt; превращаются в [ListA], все &lt;ol&gt; превращаются в [ListB];
													</li>
													<li>
														Программа пытается узнать списки по строкам, начинающимся с "- Текст"; 
													</li>
													<li>
														Программа пытается опознать кнопки по такому шаблону: [P]*текст* что угодно ещё[/P];
													</li>
													<li>
														Удаляются посторонние ссылки из текста;
													</li>
													<li>
														Удаляются лишние пробелы перед тегами;
													</li>
													<li>
														Выдираются тема и прех, определяются по следующим ключевым словам: "Заголовок", "Тема", "Прех", "Предехер", "Подзаголовок";
													</li>
													<li>
														Добавляются переносы строк для лучшей читаемости результата;
													</li>
													<li>
														Пробелы перед смайликами, знаками рубля или словом "руб" заменяются на неделимые пробелы &amp;nbsp;
													</li>
													<li>
														Между стоящими рядом числами пробелы заменяются на неделимые пробелы.
													</li>
												</ol>
											</div>
										</div>
									</article>
								</div>
							</div>
						</div>
					</article>
					<article class="message tighter-message">
						<div data-href="collapsible-message-accordion-meta-3" data-parent="accordion_meta" class="message-header message-bg-grey accordionClick">
							<p>Точное значение тегов</p>
						</div>
						<div id="collapsible-message-accordion-meta-3" class="message-body collapsible-message" data-parent="accordion_meta">
							<div class="message-body-content content">
								<p><strong>Теги чувствительны к регистру.</strong></p>
								<p>Если выделить текст, то по нажатию на кнопку теги будут подставлены с двух сторон от него.</p>
								<p>Не-парные теги вроде &amp;nbsp; вместо этого заменяют собой выделенный текст.</p>
								<ul>
									<li>
										[P], Абзац. Расставлять его вручную не нужно, программа будет считать каждую не-пустую строку отдельным абзацем. Но обратите внимание, что все [P] должны быть парными.
									</li>
									<li>
										[B], Bold. Жирный шрифт.
									</li>
									<li>
										[I], Italic. Курсив.
									</li>
									<li>
										[ListA], List *. Ненумерованный список, каждый элемент начинается с буллета. Этим тегом нужно обернуть все элементы списка, каждый элемент на отдельной строке. Пустые строки игнорируются. В списке не должно быть тегов [P], обратите на это внимание, пожалуйста.
									</li>
									<li>
										[ListB], List #. Нумерованный список, каждый элемент начинается с номера и точки. В остальном аналогичен предыдущему. 
									</li>
									<li>
										[Link]. Ссылка. Берёт ссылку из поля "Главная ссылка". Если нужно вставить другую, делайте так: [Link="Ваша ссылка"]текст ссылки[/Link].
									</li>
									<li>
										[Btn], Button. Кнопка. Похожа на ссылку, но в строке кроме кнопки ничего больше не должно быть. Никакого текста, никаких тегов.
									</li>
									<li>
										[Gif1] и [Gif2]. Гифки, соответственно первая и вторая. Кроме этого тега на строке ничего больше не должно быть. Внутри тоже.
									</li>
									<li>
										[Greyarea]. Область с серым фоном. Обычно начинается после первой кнопки и заканчивается после второй. Оберните ей нужный участок текста.
									</li>
									<li>
										&amp;nbsp;. Неделимый пробел. Запрещает браузеру переносить строку в этом месте.
									</li>
								</ul>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="navAnchor" id="navLinksColors"></div>
			<div class="column">
				<div class="field">
					<p><b>Баннер:</b></p>
					<div class="control">
						<input id="inputBannerLink" class="mainEditElement input" type="text" class="input">
					</div>
				</div>
				<div class="field">
					<p><b>Цвет кнопок:</b></p>
					<div class="control">
						<label class="radio">
							<input id="inputButtonColor1" name="inputButtonColor" type="radio" class="mainEditElement" value="#6bff00" onclick="colorChange('#111111',true);" checked>
							<img class="colorPreview" style="background-color:#6bff00">
							Зелёный
						</label>
						<label class="radio">
							<input id="inputButtonColor2" name="inputButtonColor" type="radio" class="mainEditElement" value="#00ee80" onclick="colorChange('#111111',true);">
							<img class="colorPreview" style="background-color:#00ee80">
							Весенний зелёный
						</label>
						<label class="radio">
							<input id="inputButtonColor3" name="inputButtonColor" type="radio" class="mainEditElement" value="#008cff" onclick="colorChange('#FFFFFF',false);">
							<img class="colorPreview" style="background-color:#008cff">
							Голубой
						</label>
						<label class="radio">
							<input id="inputButtonColor4" name="inputButtonColor" type="radio" class="mainEditElement" value="#00ffe7" onclick="colorChange('#111111',true);">
							<img class="colorPreview" style="background-color:#00ffe7">
							Аквамарин
						</label>
						<label class="radio">
							<input id="inputButtonColor5" name="inputButtonColor" type="radio" class="mainEditElement" value="#781ad3" onclick="colorChange('#FFFFFF',false);">
							<img class="colorPreview" style="background-color:#781ad3">
							Фиолетовый
						</label>
						<label class="radio">
							<input id="inputButtonColor6" name="inputButtonColor" type="radio" class="mainEditElement" value="#ff460a" onclick="colorChange('#FFFFFF',false);">
							<img class="colorPreview" style="background-color:#ff460a">
							Оранжевый
						</label>
						<label class="radio">
							<input id="inputButtonColor7" name="inputButtonColor" type="radio" class="mainEditElement" value="#ff3738" onclick="colorChange('#FFFFFF',false);">
							<img class="colorPreview" style="background-color:#ff3738">
							Розово-красный
						</label>
						<label class="radio">
							<input id="inputButtonColor8" name="inputButtonColor" type="radio" class="mainEditElement" value="#191919" onclick="colorChange('#FFFFFF',false);">
							<img class="colorPreview" style="background-color:#191919">
							Чёрный
						</label>
						<label class="radio">
							<input id="inputButtonColor9" name="inputButtonColor" type="radio" class="mainEditElement" value="custom">
							Свой
						</label>
					</div>
					<div class="field has-addons">
						<div class="control is-expanded has-icons-left">
							<input id="inputButtonColorCustom" class="mainEditElement input" type="text" class="input">
							<span id="colorCustomPreview" class="icon is-medium is-left">
								<!-- <span class="icon is-small"> -->
									<i class="fas fa-square"></i>
								<!-- </span> -->
							</span>
						</div>
						<!-- Пока что я не знаю, как заставить пипетку работать. Однажды... -->
						<div class="control is-hidden">
							<a class="button">
								<i class="fas fa-eye-dropper"></i>
							</a>
						</div>
					</div>
					<div class="control">
						<label class="checkbox">
							<input id="inputDarkerLinks" class="mainEditElement" type="checkbox" size="100%">
							Ссылки потемнее
						</label>
					</div>
				</div>
				<p><b>Цвет шрифта кнопок:</b><br>
					<div class="control">
						<label class="radio">
							<input id="inputFontColor1" name="inputFontColor" class="mainEditElement" type="radio" value="#FFFFFF" checked>
							<img class="colorPreview" style="background-color:#FFF">
							#FFF
						</label>
						<label class="radio">
							<input id="inputFontColor2" name="inputFontColor" class="mainEditElement" type="radio" value="#111111">
							<img class="colorPreview" style="background-color:#111">
							#111
						</label>
					</div>
				</p>
			</div>
			<div class="column">
				<p><b>Гифка 1:</b></p>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input id="inputGif1" type="text" class="input mainEditElement">
					</div>
					<div class="control">
						<a id="buttonGetGif1" class="button" title="Попытаться извлечь гифку из ссылки">
							<span class="icon is-small">
								<i class="fas fa-images"></i>
							</span>
						</a>
					</div>
				</div>
				<p><b>Гифка 2:</b></p>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input id="inputGif2" type="text" class="input mainEditElement">
					</div>
					<div class="control">
						<a id="buttonGetGif2" class="button" title="Попытаться извлечь гифку из ссылки">
							<span class="icon is-small">
								<i class="fas fa-images"></i>
							</span>
						</a>
					</div>
				</div>
				<p><b>Главная ссылка:</b></p>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input id="inputMainLink" type="text" class="input mainEditElement">
					</div>
					<div class="control">
						<a id="linkWrapButton" class="button" title="Добавить к ссылке UTM-метки">
							<span class="icon is-small">
								<i class="fas fa-tags"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="field">
					<p><b>Заголовок:</b></p>
					<div class="control">
						<input id="inputHeader" type="text" class="input mainEditElement">
					</div>
				</div>
				<div class="field">
					<p><b>Подзаголовок:</b></p>
					<div class="control">
						<input id="inputPreheader" type="text" class="input mainEditElement">
					</div>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="navAnchor" id="navEditing"></div>
			<div class="column">
					<label class="label">Редактирование поста</label>
					<div class="buttons has-addons are-small noMargin">
						<button class="button" id="b" onclick="mark('B')"><strong>Bold</strong></button>
						<button class="button" id="i" onclick="mark('I')"><em>Italic</em></button>
						<button class="button" id="listA" onclick="mark('ListA')">List *</button>
						<button class="button" id="listB" onclick="mark('ListB')">List #</button>
						<button class="button" id="link" onclick="mark('Link')">Link</button>
						<button class="button" id="btn" onclick="mark('Btn')">Button</button>
						<button class="button" id="gif1" onclick="mark('Gif1')">Gif1</button>
						<button class="button" id="gif2" onclick="mark('Gif2')">Gif2</button>
						<button class="button" id="grey" onclick="mark('Grey')">Greyarea</button>
						<button class="button" id="nbsp" onclick="markNoBB('&amp;nbsp;')">&amp;nbsp;</button>
					</div>
					<div class="field">
						<div class="control">
							<textarea id="mainTextArea" name="mainTextArea" class="textarea" style="width:100%; height:400px"></textarea>
						</div>
					</div>
					<div class="buttons">
						<input id="submit" type="submit" class="button is-primary" onclick="goSubmit(true)" value="Обработать">
						<button id="makeGood" class="button">Оттипографить</button>
						<button id="copy" class="button" onclick="goCopy()">Скопировать результат</button>
						<button id="download" class="button is-hidden" onclick="goDownload()">Скачать проект</button>
						<button id="throwError" class="button is-hidden" onclick="testError()">Кинуть ошибку!</button>
					</div>
			</div>
			<div class="column">
				<label class="label">Предпросмотр</label>
				<iframe src="about:blank" id="previewArea" style="width:100%; height:100%"></iframe>
			</div>
		</div>
	</section>
	
	<!-- <div><p>&nbsp;</p></div> -->
	
	<section class="section">
		<div class="columns">
			<div class="navAnchor" id="navResult"></div>
			<div class="column">
				<div class="container">
					<div class="field">
						<label class="label">Заметки</label>
						<div class="control">
							<textarea name="notes" id="notesArea" class="textarea" width="100%"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="container">
					<div class="field">
						<label class="label">Результат</label>
						<div class="control">
							<textarea name="result" id="resultArea" class="textarea" width="100%"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Форма добавления UTM-меток -->
	<div id="modalWrap" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:auto;">
			<header class="modal-card-head">
				<p class="modal-card-title">Конструктор UTM-меток</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				<!-- <div class="field is-grouped is-grouped-multiline"> -->
				<nav class="level">
					<div class="level-item">
						<div class="field" style="margin: auto 10px;">
							<label>Ссылка:</label>
							<div class="control">
								<input id="modalWrapLink" class="input modalWrapInput" type="text" style="width: 250px;">
							</div>
						</div>
					</div>
					<div class="level-item">
						<div class="field" style="margin: auto 10px;">
							<label>Номер задачи:</label>
							<div class="control">
								<input id="modalWrapTask" class="input modalWrapInput" type="text" style="width: 120px;">
							</div>
						</div>
					</div>
					<div class="level-item" style="margin: auto 10px;">
						<div class="field">
							<label>Тип рассылки:</label>
							<br>
							<div class="select">
								<select id="modalWrapType" class="modalWrapInput">
									<option>annonce_kp</option>
									<option>service_kp</option>
									<option>native_kp</option>
									<option>emergency</option>
									<option>autoemail</option>
								</select>
							</div>
						</div>
					</div>
					<div class="level-item" style="margin: auto 10px;">
						<div class="field">
							<label>Продукт:</label>
							<br>
							<div class="select">
								<select id="modalWrapProduct" class="modalWrapInput">
									<option>concentrat</option>
									<option>reality</option>
									<option>speed</option>
									<option>sotka</option>
									<option>strategy</option>
									<option>msa</option>
									<option>event</option>
								</select>
							</div>
						</div>
					</div>
				</nav>
				<!-- </div> -->
				
				<div class="field">
					<label>Предпросмотр ссылки:</label>
					<div class="control">
						<input id="modalWrapPreview" class="input" type="text">
					</div>
				</div>
				
			</section>
			<footer class="modal-card-foot">
				<button id="modalWrapAccept" class="button is-primary">Применить</button>
				<button class="button modalClose">Отмена</button>
			</footer>
		</div>
	</div>
	
	<!-- Форма сохранения -->
	<div id="modalSave" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:auto;">
			<header class="modal-card-head">
				<p class="modal-card-title">Выберите папку, куда сохранить файл&nbsp;</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				
				<div class="field is-scrollable" style="min-height:30vh; max-heignt:60vh;">
					<div class="control">
						<div id="treeview"></div>
					</div>
				</div>
				
			</section>
			<footer class="modal-card-foot">
				<button id="modalSaveAccept" class="button is-primary">Сохранить</button>
				<button class="button modalClose">Отмена</button>
				
				<button id="modalSaveNewDir" class="button" style="margin-left: auto;">Новая папка</button>
			</footer>
		</div>
	</div>
	
	<!-- Форма создания новой папки -->
	<div id="modalNewDir" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:340px;">
			<header class="modal-card-head">
				<p class="modal-card-title">Новая папка</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				<p>Название новой папки:</p>
				<p class="control">
					<input id="modalNewDirName" class="input" type="text">
				</p>
			</section>
			<footer class="modal-card-foot">
				<button id="newDirAccept" class="button is-primary">Создать</button>
				<button class="button modalClose">Отмена</button>
			</footer>
		</div>
	</div>
	
	<!-- Сообщение об ошибке -->
	<div id="errorMsg" class="error-msg is-hidden">
		<div class="notification is-danger content">
			<button class="delete error-close"></button>
			<div id="errorText" class="error-text content"></div>
		</div>
	</div>
	
	<footer class="footer-custom has-background-dark has-text-white">
		<div class="content">
			<p>Copyright 2021 © Волегов Александр</p>
			<p>Если у вас возникли проблемы с сайтом, либо вы просто хотите оставить пожелания, пожалуйста, свяжитесь со мной:</p>
			<p>* <a href="https://t.me/EasternTIme">Telegram</a></p>
			<p>* <a href="mailto:a.volegov@likebz.ru">Рабочий Email</a></p>
			<p>* <a href="https://likecentr.bitrix24.ru/company/personal/user/5851/">Битрикс</a></p>
			<p>Сайт, включая серверную часть, находится под лицензией <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>. Любые исходники будут предоставлены мной по требованию.</p>
			<p>&nbsp;</p>
			<p>Сторонние лицензии в проекте:</p>
			<p>Фреймворк <strong>Bulma</strong> от <a href="https://jgthms.com">Jeremy Thomas</a> находится под лицензией <a href="http://opensource.org/licenses/mit-license.php">MIT/Expat</a>.</p>
			<p>Не упомянутые здесь библиотеки и функции принадлежат законным авторам и распространяются по их лицензиям.</p>
		</div>
	</footer>
	
	<script src="static/modules/handler.js"></script>
	<script src="static/modules/fetches.js"></script>
	<script src="static/modules/downloadarea.js"></script>
	<script src="static/MailTemplatePage.js"></script>
	<script src="static/modules/accordion.js"></script>
	<!-- <script src="bulma/bulma-collapsible.min.js"></script> -->
	<script type="text/javascript" src="static/dist/tree.js"></script>
	<script type="text/javascript" src="static/dist/he.js"></script>
	<script defer src="static/fontawesome/js/all.js"></script>

</body>
</html>