<!-- ================================ -->
<!-- Copyright 2021 © Волегов Александр -->
<!-- Author Волегов Александр -->
<!-- Licensed under the Apache License, Version 2.0 -->
<!-- ================================ -->

<!DOCTYPE HTML>
<html class="has-navbar-fixed-top">
<head>
	<meta charset="utf-8">
	<title>Список документов</title>
	<meta name="author" content="Волегов Александр aka EasternTime">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
	<link rel="manifest" href="static/site.webmanifest">
	<link href="static/style.css" rel="stylesheet">
	<link href="static/bulma/bulma.min.css" rel="stylesheet">
	<link href="static/modules/editabletable.css" rel="stylesheet">
	<link href="static/modules/handler.css" rel="stylesheet">
	<link href="static/dist/treejs.css" rel="stylesheet">
	<link href="static/fontawesome/css/all.css" rel="stylesheet">
</head>
<body id="top">
	<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="#top">
				<img src="static/Logo-like-small.png">
			</a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarDesign">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarDesign" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						Инструменты
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item" href="/tools/list">
							Список документов
						</a>
						<a class="navbar-item is-active" href="/tools">
							Версталка
						</a>
						<a class="navbar-item is-active" href="/tools/settings">
							Настройки
						</a>
						<!-- <hr class="navbar-divider"> -->
						<!-- <div class="navbar-item"> -->
							<!-- Version 0.9.3 -->
						<!-- </div> -->
					</div>
				</div>
				
				<!-- <div class="navbar-item"> -->
					<!-- <div class="vl"></div> -->
				<!-- </div> -->
				
				<!-- <a class="navbar-item is-tab" href="#navColors"> -->
					<!-- Цвета -->
				<!-- </a> -->
				
			</div>
		</div>
	</nav>
	
	<section class="hero is-info">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Кампании по электронной почте
				</h1>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container block has-text-centered">
			<nav class="level">
				<div class="level-left">
					<div class="level-item">
						<p class="subtitle is-5">
							<strong>Поиск</strong>
						</p>
					</div>
					<div class="level-item">
						<div class="field has-addons">
							<p class="control">
								<input id="searchField" class="input" type="text">
							</p>
							<p class="control">
								<button id="searchButton" class="button">
									Искать
								</button>
							</p>
						</div>
					</div>
				</div>
				<div class="level-right">
					<p class="level-item">
						<a id="refreshButton" class="button">Обновить</a>
					</p>
					<p class="level-item">
						<a id="createDirectoryButton" class="button">Создать папку</a>
					</p>
					<p class="level-item">
						<a id="createDocumentButton" class="button is-success">Создать документ</a>
					</p>
				</div>
			</nav>
		</div>
		<div class="container block has-text-left">
			<div id="tableColors" class="table-editable field">
				<table id="filesTable" class="table is-fullwidth is-striped is-narrow is-hoverable">
					<thead>
						<tr>
							<th data-ignoreHeader="true" style="width:1.5em;">
								&nbsp;
								<!-- Иконочка папки -->
							</th>
							<th data-name="name">
								<span class="table-editable-header" title="Название файла или папки">
									Имя
								</span>
							</th>
							<th data-name="header">
								<span class="table-editable-header" title="Заголовок письма.">
									Заголовок
								</span>
							</th>
							<th data-name="created">
								<span class="table-editable-header" title="Дата и время создания.">
									Создано
								</span>
							</th>
							<th data-name="updated">
								<span class="table-editable-header" title="Дата и время последнего редактирования.">
									Изменено
								</span>
							</th>
							<th data-ignoreHeader="true"></th>
						</tr>
					</thead>
					<tbody>
						<!-- Строка-образец -->
						<tr data-id="" data-type="document" class="hide">
							<td class="fileIcon">
								<!-- Здесь должна быть иконка! -->
								&nbsp;
							</td>
							<td><a class="fileName">Имя файла</a></td>
							<td class="fileHeader">Будь красавчиком с Аязом</td>
							<td class="fileCreated">01:45 17.10.21</td>
							<td class="fileUpdated">01:45 17.10.21</td>
							<td>
								<span class="table-button fileEdit" title="Редактировать"><i class="far fa-edit"></i></span>
								<span class="table-button fileCopy" title="Копировать"><i class="far fa-copy"></i></span>
								<span class="table-button fileMove" title="Переместить"><i class="far fa-share-square"></i></span>
								<span class="table-button fileDelete" title="Удалить"><i class="far fa-trash-alt"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container has-text-centered">
			<nav class="pagination" role="navigation" aria-label="pagination">
				<a class="pagination-previous is-disabled" title="This is the first page">Предыдущая</a>
				<a class="pagination-next is-disabled">Следующая</a>
				<ul class="pagination-list">
					<li>
						<a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
					</li>
					<!-- <li> -->
						<!-- <a class="pagination-link" aria-label="Goto page 2">2</a> -->
					<!-- </li> -->
					<!-- <li> -->
						<!-- <a class="pagination-link" aria-label="Goto page 3">3</a> -->
					<!-- </li> -->
					<!-- <li> -->
						<!-- <span class="pagination-ellipsis">&hellip;</span> -->
					<!-- </li> -->
				</ul>
			</nav>
		</div>
	</section>
	
	<!-- Форма подтверждения удаления -->
	<div id="modalDelete" data-id="" data-type="" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:340px;">
			<header class="modal-card-head">
				<p class="modal-card-title">Удалить документ?</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				<p>Вы собираетесь удалить <span id="modalDeleteType"></span> "<span id="modalDeleteName"></span>".</p>
				<img src="static/img/Are-you-sure-about-that.jpg" alt="Ви таки абсолютно уверены?">
				<p>Вы уверены?</p>
			</section>
			<footer class="modal-card-foot">
				<button id="deleteAccept" class="button is-danger">Удоли</button>
				<button class="button is-primary modalClose">Отмена</button>
			</footer>
		</div>
	</div>
	
	<!-- Форма создания нового документа -->
	<div id="modalCreateDocument" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:340px;">
			<header class="modal-card-head">
				<p class="modal-card-title">Новый документ</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				<p>Название нового документа:</p>
				<p class="control">
					<input id="modalCreateDocumentName" class="input" type="text">
				</p>
			</section>
			<footer class="modal-card-foot">
				<button id="createDocumentAccept" class="button is-primary">Создать</button>
				<button class="button modalClose">Отмена</button>
			</footer>
		</div>
	</div>
	
	<!-- Форма создания новой папки -->
	<div id="modalCreateDirectory" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:340px;">
			<header class="modal-card-head">
				<p class="modal-card-title">Новая папка</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				<p>Название новой папки:</p>
				<p class="control">
					<input id="modalCreateDirectoryName" class="input" type="text">
				</p>
			</section>
			<footer class="modal-card-foot">
				<button id="createDirectoryAccept" class="button is-primary">Создать</button>
				<button class="button modalClose">Отмена</button>
			</footer>
		</div>
	</div>
	
	<!-- Форма переименования папки -->
	<div id="modalRename" data-id="" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:340px;">
			<header class="modal-card-head">
				<p class="modal-card-title">Изменение имени папки</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				<p>Новое имя для папки:</p>
				<p class="control">
					<input id="modalRenameName" class="input" type="text">
				</p>
			</section>
			<footer class="modal-card-foot">
				<button id="renameAccept" class="button is-primary">Сохранить</button>
				<button class="button modalClose">Отмена</button>
			</footer>
		</div>
	</div>
	
	<!-- Форма сохранения -->
	<div id="modalSave" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:auto;">
			<header class="modal-card-head">
				<p class="modal-card-title">Выберите папку, куда переместить файл&nbsp;</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				
				<div class="field is-scrollable" style="min-height:30vh; max-heignt:60vh;">
					<div class="control">
						<div id="treeview"></div>
					</div>
				</div>
				
			</section>
			<footer class="modal-card-foot">
				<button id="modalSaveAccept" class="button is-primary">Применить</button>
				<button class="button modalClose">Отмена</button>
				
				<button id="modalSaveNewDir" class="button" style="margin-left: auto;">Новая папка</button>
			</footer>
		</div>
	</div>
	
	<!-- Субформа создания новой папки -->
	<div id="modalNewDir" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card" style="width:340px;">
			<header class="modal-card-head">
				<p class="modal-card-title">Новая папка</p>
				<button class="delete modalClose" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<!-- Content ... -->
				<p>Название новой папки:</p>
				<p class="control">
					<input id="modalNewDirName" class="input" type="text">
				</p>
			</section>
			<footer class="modal-card-foot">
				<button id="newDirAccept" class="button is-primary">Создать</button>
				<button class="button modalClose">Отмена</button>
			</footer>
		</div>
	</div>
	
	<!-- Сообщение об ошибке -->
	<div id="errorMsg" class="error-msg is-hidden">
		<div class="notification is-danger content">
			<button class="delete error-close"></button>
			<div id="errorText" class="error-text content"></div>
		</div>
	</div>
	
	<footer class="footer-custom has-background-dark has-text-white">
		<div class="content">
			<p>Copyright 2021 © Волегов Александр</p>
			<p>Если у вас возникли проблемы с сайтом, либо вы просто хотите оставить пожелания, пожалуйста, свяжитесь со мной:</p>
			<p>* <a href="https://t.me/EasternTIme">Telegram</a></p>
			<p>* <a href="mailto:a.volegov@likebz.ru">Рабочий Email</a></p>
			<p>* <a href="https://likecentr.bitrix24.ru/company/personal/user/5851/">Битрикс</a></p>
			<p>Сайт, включая серверную часть, находится под лицензией <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>. Любые исходники будут предоставлены мной по требованию.</p>
			<p>&nbsp;</p>
			<p>Сторонние лицензии в проекте:</p>
			<p>Фреймворк <strong>Bulma</strong> от <a href="https://jgthms.com">Jeremy Thomas</a> находится под лицензией <a href="http://opensource.org/licenses/mit-license.php">MIT/Expat</a>.</p>
			<p>Не упомянутые здесь библиотеки и функции принадлежат законным авторам и распространяются по их лицензиям.</p>
		</div>
	</footer>
	
	<script src="static/modules/handler.js"></script>
	<script src="static/modules/fetches.js"></script>
	<script src="static/MailList.js"></script>
	<script type="text/javascript" src="static/dist/tree.js"></script>
	<script defer src="static/fontawesome/js/all.js"></script>

</body>
</html>