<!-- ================================ -->
<!-- Copyright 2021 © Волегов Александр -->
<!-- Author Волегов Александр -->
<!-- Licensed under the Apache License, Version 2.0 -->
<!-- ================================ -->

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Вход в систему</title>
	<link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
	<link rel="manifest" href="static/site.webmanifest">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
	<!-- Bulma Version 0.9.0-->
	<link rel="stylesheet" href="static/bulma/bulma.min.css" />
	<link rel="stylesheet" type="text/css" href="static/login.css">
</head>

<body>
	<section class="hero is-success is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="column is-4 is-offset-4">
					<h3 class="title has-text-black">Вход в систему</h3>
					<hr class="login-hr">
					<p id="message" class="subtitle has-text-black">{{message}}</p>
					<div class="box">
						<figure class="avatar">
							<img src="static/Logo-like-small.png">
						</figure>
						<form>
							<div class="field">
								<div class="control">
									<input id="log" class="input is-large" type="text" placeholder="Никнейм" name="username" autofocus="">
								</div>
							</div>

							<div class="field">
								<div class="control">
									<input id="pass" class="input is-large" type="password" name="password" placeholder="Пароль">
								</div>
							</div>
							<!-- <div class="field"> -->
								<!-- <label class="checkbox"> -->
									<!-- <input type="checkbox"> -->
									<!-- Remember me -->
								<!-- </label> -->
							<!-- </div> -->
							<button id="commit" type="submit" class="button is-block is-info is-large is-fullwidth">Принять <i class="fa fa-sign-in" aria-hidden="true"></i></button>
						</form>
					</div>
					<p class="has-text-grey">
						Внимание: сайт использует куки. Вход означает согласие их принять.
					</p>
					<!-- <p class="has-text-grey"> -->
						<!-- <a href="../">Sign Up</a> &nbsp;·&nbsp; -->
						<!-- <a href="../">Forgot Password</a> &nbsp;·&nbsp; -->
						<!-- <a href="../">Need Help?</a> -->
					<!-- </p> -->
				</div>
			</div>
		</div>
	</section>
	<script async type="text/javascript" src="static/login.js"></script>
</body>

</html>
