<!-- ================================ -->
<!-- Copyright 2021 © Волегов Александр -->
<!-- Author Волегов Александр -->
<!-- Licensed under the Apache License, Version 2.0 -->
<!-- ================================ -->

<!DOCTYPE HTML>
<html class="has-navbar-fixed-top">
<head>
	<meta charset="utf-8">
	<title>Настройки</title>
	<meta name="author" content="Волегов Александр aka EasternTime">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
	<link rel="manifest" href="static/site.webmanifest">
	<link href="static/style.css" rel="stylesheet">
	<link href="static/bulma/bulma.min.css" rel="stylesheet">
	<link href="static/modules/handler.css" rel="stylesheet">
	<link href="static/modules/editabletable.css" rel="stylesheet">
</head>
<body id="top">
	<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="#top">
				<img src="static/Logo-like-small.png">
			</a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarDesign">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarDesign" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						Инструменты
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item is-active" href="/tools/list">
							Список документов
						</a>
						<a class="navbar-item is-active" href="/tools">
							Версталка
						</a>
						<a class="navbar-item" href="/tools/settings">
							Настройки
						</a>
						<!-- <hr class="navbar-divider"> -->
						<!-- <div class="navbar-item"> -->
							<!-- Version 0.9.3 -->
						<!-- </div> -->
					</div>
				</div>
				
				<div class="navbar-item">
					<div class="vl"></div>
				</div>
				
				<a class="navbar-item is-tab" href="#navColors">
					Цвета
				</a>
				
				<a class="navbar-item is-tab" href="#navTagsPaired">
					Парные теги
				</a>
				
				<a class="navbar-item is-tab" href="#navTagsSingle">
					Не-парные теги
				</a>
				
				<a class="navbar-item is-tab" href="#navOther">
					Прочие настройки
				</a>
			</div>
		</div>
	</nav>
	
	<section class="hero is-info">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Настройки
				</h1>
			</div>
		</div>
		<div class="columns is-gapless is-desktop is-hidden-desktop">
			<div class="column">
				<div class="tabs is-boxed is-centered main-menu">
					<ul>
						<li data-target="tab-colors" class="is-active">
							<a>
								<!-- <span class="icon is-small"><i class="fa fa-image"></i></span> -->
								<span>Цвета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="column">
				<div class="tabs is-boxed is-centered main-menu">
					<ul>
						<li data-target="tab-paired-list">
							<a>
								<span>Список парных тегов</span>
							</a>
						</li>
						<li data-target="tab-paired-templates">
							<a>
								<span>Шаблоны парных тегов</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="column">
				<div class="tabs is-boxed is-centered main-menu">
					<ul>
						<li data-target="tab-single-list">
							<a>
								<span>Список непарных тегов</span>
							</a>
						</li>
						<li data-target="tab-single-templates">
							<a>
								<span>Шаблоны непарных тегов</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tabs is-boxed is-centered main-menu is-hidden-touch">
			<ul>
				<li data-target="tab-colors" class="is-active">
					<a>
						<!-- <span class="icon is-small"><i class="fa fa-image"></i></span> -->
						<span>Цвета</span>
					</a>
				</li>
				<li data-target="tab-paired-list">
					<a>
						<span>Список парных тегов</span>
					</a>
				</li>
				<li data-target="tab-paired-templates">
					<a>
						<span>Шаблоны парных тегов</span>
					</a>
				</li>
				<li data-target="tab-single-list">
					<a>
						<span>Список непарных тегов</span>
					</a>
				</li>
				<li data-target="tab-single-templates">
					<a>
						<span>Шаблоны непарных тегов</span>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section>
		<div class="tab-content">
			<div class="tab-pane is-active" id="tab-colors">
				<div class="container content has-text-centered">
					
					<h3 class="subtitle">Цвета</h3>
					
					<p>Эта таблица позволяет создать и отсортировать список часто используемых в вёрстке цветов - в первую очередь, для кнопок и ссылок. Их можно будет выбрать из списка под ссылкой на баннер письма.</p>
					
					<p>Цвета задаются в шестнадцатеричном формате для HTML. Их можно выбрать с баннера <a href="https://www.youtube.com/watch?v=uPOZLuW-c98">пипеткой</a> или с помощью одного из <a href="https://www.google.com/search?q=color+picker">подборщиков цветов</a>.</p>
					
					<p class="has-text-grey">Вы можете узнать подробнее о каждом столбце, наведя на него курсор.</p>
				</div>
				
				<div class="container has-text-centered">
					<div id="tableColors" class="table-editable field">
						<span class="table-add">➕</span>
						<table class="table is-fullwidth is-striped is-narrow is-hoverable">
							<thead>
								<tr>
									<th data-name="name">
										<span class="table-editable-header" title="То, как этот цвет будет называться в списке.">
											Название цвета
										</span>
									</th>
									<th data-name="color">
										<span class="table-editable-header" title="HTML-код цвета. Начинается с #.">
											Цвет
										</span>
									</th>
									<th data-ignoreHeader="true" style="width:1.5em;">
										&nbsp;
										<!-- Это превью цвета, на самом деле -->
									</th>
									<th data-name="font">
										<span class="table-editable-header" title="HTML-код цвета шрифта на элементых заданного цвета.">
											Цвет шрифта
										</span>
									</th>
									<th data-name="darkerLinks">
										<span class="table-editable-header" title="Если текст заданного цвета плохо выглядит на светлом фоне, поставьте true. Это затемнит его на ~15%.">
											Текст потемнее
										</span>
									</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<!-- Строка-образец -->
								<tr class="hide">
									<td contenteditable="true">Зелёный</td>
									<td class="color-field" contenteditable="true">#6bff00</td>
									<td class="color-preview">&nbsp;</td>
									<td contenteditable="true">#111111</td>
									<td contenteditable="true">false</td>
									<td>
										<span class="table-remove">❌</span>
									</td>
									<td>
										<span class="table-up">▲</span>
										<span class="table-down">▼</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="buttons">
						<button id="colorsSave" class="button is-primary">Сохранить и применить</button>
						<button id="colorsUpdate" class="button">Откатить изменения</button>
					</div>
				</div>
			</div>
			
			<div class="tab-pane" id="tab-paired-list">
				<div class="container content has-text-centered">
					
					<h3 class="subtitle">Список парных тегов</h3>
					
					<p>Эта таблица позволяет создать и отсортировать список парных тегов, которые будут использоваться при вёрстке.</p>
					
					<p>Парные теги всегда заключены в квадратные скобки по образцу: [P][/P]. При вводе в таблицу квадратные скобки указывать не нужно.</p>
					
					<p>Если тег может принимать аргумент, его можно использовать вот так: [Link="некий текст"][/Link]. Аргумент можно будет использовать в задании шаблонов (следующий раздел).</p>
					
					<p>По умолчанию программа считает каждую непустую строку параграфом и размечает соответствующим шаблоном. Чтобы предотвратить это поведение на строках, где встречается определённый тег, установите поле "Это контент" в true. Используется, к примеру, для кнопок.</p>
					
					<p>Некоторые теги здесь используются во внутренней логике программы и поэтому защищены от удаления или изменения. Даже если вы найдёте способ это сделать, пожалуйста, не надо.</p>
					
					<p>Чтобы не отображать тег среди кнопок, впишите в поле "Кнопка" значение "hidden". Этот приём используется для технических, скрытых или иным образом специфических тегов.</p>
					
					<p class="has-text-grey">Вы можете узнать подробнее о каждом столбце, наведя на него курсор.</p>
					
				</div>
				
				<div class="container has-text-centered">
					<div id="tableTagsPaired" class="table-editable field">
						<span class="table-add">➕</span>
						<table class="table is-fullwidth is-striped is-narrow is-hoverable">
							<thead>
								<tr>
									<th data-name="tag">
										<span class="table-editable-header" title="Сам тег. Без квадратных скобок.">
											Тег
										</span>
									</th>
									<th data-name="button">
										<span class="table-editable-header" title="Как будет называться кнопка на панели. Если в поле стоит hidden, кнопка отображаться на панели не будет. Этот приём используется для скрытых или технических тегов.">
											Кнопка
										</span>
									</th>
									<th data-name="icon">
										<span class="table-editable-header" title="Опциональное поле: Иконка FontAwesome для кнопки.">
											Иконка
										</span>
									</th>
									<th data-name="takesArgument">
										<span class="table-editable-header" title="Если true, то тег можно писать так: [tag=&quot;argument&quot;][tag]. Можно использовать в вёрстке, например, кнопок или ссылок.">
											Принимает аргумент
										</span>
									</th>
									<th data-name="isContent">
										<span class="table-editable-header" title="Если true, то запрещает автоматическое оборачивание строки в параграф. Используется для кнопок, таблиц и т.д.">
											Это контент
										</span>
									</th>
									<th data-name="description">
										<span class="table-editable-header" title="Опишите в двух словах, что это за тег. Используется во всплывающих подсказках.">
											Описание
										</span>
									</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<!-- Строка-образец -->
								<tr class="hide">
									<td contenteditable="true">P</td>
									<td contenteditable="true">P</td>
									<td contenteditable="true"></td>
									<td contenteditable="true">false</td>
									<td contenteditable="true">true</td>
									<td contenteditable="true">Это тег параграфа. В него оборачиваются автоматически все строки без других значимых тегов.</td>
									<td>
										<span class="table-remove">❌</span>
									</td>
									<td>
										<span class="table-up">▲</span>
										<span class="table-down">▼</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="buttons">
						<button id="tagsPairedTableSave" class="button is-primary">Сохранить и применить</button>
						<button class="button tagsPairedUpdate">Откатить изменения</button>
					</div>
				</div>
				
				<div class="container content has-text-centered">
					<p>&nbsp;</p>
					<h3 class="subtitle">Шаблоны для вставки иконок в кнопку</h3>
					
					<div class="columns has-text-left" style="padding: 2rem">
						<div class="column">
							<div class="card">
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-4">Иконка и текст</p>
										</div>
									</div>
									<div class="content">
										<code>&lt;span class=&quot;icon-text&quot;&gt;<br>
											&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class=&quot;icon&quot;&gt;<br>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class=&quot;fas fa-home&quot;&gt;&lt;/i&gt;<br>
											&nbsp;&nbsp;&nbsp;&nbsp;&lt;/span&gt;<br>
											&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;Home&lt;/span&gt;<br>
										&lt;/span&gt;</code>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="card">
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-4">Только иконка</p>
										</div>
									</div>
									<div class="content">
										<code>&lt;span class=&quot;icon&quot;&gt;<br>
												&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class=&quot;fas fa-home&quot;&gt;&lt;/i&gt;<br>
											&&lt;/span&gt;</code>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="tab-pane" id="tab-paired-templates">
				<div class="container content has-text-centered">
					<h3 class="title">Шаблоны парных тегов</h3>
					
					<p>Для каждого парного тега идёт два шаблона - открывающий и закрывающий.</p>
					
					<p>Вставляйте свой HTML-код прямо в поле редактирования. После окончания нажмите "Сохранить и применить" внизу.</p>
					
					<p>Не забудьте заменить все важные пробелы в начале и конце строк на <code>&amp;nbsp;</code>, иначе они будут вырезаны.</p>
					
					<p><strong>В теле шаблонов можно использовать следующие переменные:</strong></p>
					
					<div class="columns has-text-left">
						<div class="column">
							<ul>
								<li>
									<strong>$bannerLink$</strong> - ссылка на баннер
								</li>
								<li>
									<strong>$buttonColor$</strong> - цвет кнопок
								</li>
								<li>
									<strong>$linkColor$</strong> - цвет ссылок
								</li>
								<li>
									<strong>$fontColor$</strong> - цвет шрифта на кнопках и баннере
								</li>
							</ul>
						</div>
						<div class="column">
							<ul>
								<li>
									<strong>$gif1Link$</strong> - ссылка на гифку №1
								</li>
								<li>
									<strong>$gif2Link$</strong> - ссылка на гифку №2
								</li>
								<li>
									<strong>$mainLink$</strong> - основная ссылка
								</li>
								<li>
									<strong>$argument$</strong> - аргумент, переданный через [tag="текст"]
								</li>
							</ul>
						</div>
						<div class="column">
							<ul>
								<li>
									<strong>$header$</strong> - заголовок
								</li>
								<li>
									<strong>$preheader$</strong> - подзаголовок (прех)
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="buttons">
					<button class="button is-primary tagsPairedCardsSave">Сохранить и применить</button>
					<button class="button tagsPairedUpdate">Откатить изменения</button>
				</div>
				<div id="cardsTagsPaired" class="content has-text-left" data-type="paired">
					<!-- Образец -->
					<div id="tagsPairedExample" class="columns has-text-left tag-card is-hidden" style="padding: 2rem">
						<div class="column">
							<div class="card">
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-4 data-tag-title-opening">[P] открывающий</p>
										</div>
									</div>
									<div class="content">
										<textarea class="textarea data-tag-opening" style="width:100%; min-height:242px;"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="card">
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-4 data-tag-title-closing">[/P] закрывающий</p>
										</div>
									</div>
									<div class="content">
										<textarea class="textarea data-tag-closing" style="width:100%;"></textarea>
									</div>
									<div class="media">
										<div class="media-content">
											<p class="title is-4">Если аргумент пустой</p>
										</div>
									</div>
									<div class="content">
										<div class="control">
											<input type="text" class="input data-argument-alt">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
				<div class="buttons">
					<button class="button is-primary tagsPairedCardsSave">Сохранить и применить</button>
					<button class="button tagsPairedUpdate">Откатить изменения</button>
				</div>
			</div> <!-- конец таба -->
			
			<div class="tab-pane" id="tab-single-list">
				<div class="container content has-text-centered">
					
					<h3 class="subtitle">Список непарных тегов</h3>
					
					<p>Эта таблица позволяет создать и отсортировать список непарных тегов, которые будут использоваться при вёрстке.</p>
					
					<p>В отличие от парных тегов, непарные теги не обязательно должны быть обёрнуты в <code>[]</code>, и не оборачиваются в квадратные скобки автоматически. Но ставить квадратные скобки всё ещё хорошая идея в большинстве случаев.</p>
					
					<p>Если тег может принимать аргумент, его можно использовать вот так: [Link="некий текст"][/Link]. Аргумент можно будет использовать в задании шаблонов (следующий раздел).</p>
					
					<p>По умолчанию программа считает каждую непустую строку параграфом и размечает соответствующим шаблоном. Чтобы предотвратить это поведение на строках, где встречается определённый тег, установите поле "Это контент" в true. Используется, к примеру, для кнопок.</p>
					
					<p>Некоторые теги здесь используются во внутренней логике программы и поэтому защищены от удаления или изменения. Даже если вы найдёте способ это сделать, пожалуйста, не надо.</p>
					
					<p>Чтобы не отображать тег среди кнопок, впишите в поле "Кнопка" значение "hidden". Этот приём используется для технических, скрытых или иным образом специфических тегов.</p>
					
					<p class="has-text-grey">Вы можете узнать подробнее о каждом столбце, наведя на него курсор.</p>
					
				</div>
				
				<div class="container has-text-centered">
					<div id="tableTagsSingle" class="table-editable field">
						<span class="table-add">➕</span>
						<table class="table is-fullwidth is-striped is-narrow is-hoverable">
							<thead>
								<tr>
									<th data-name="tag">
										<span class="table-editable-header" title="Сам тег. Без квадратных скобок.">
											Тег
										</span>
									</th>
									<th data-name="button">
										<span class="table-editable-header" title="Как будет называться кнопка на панели. Если поле пустое или hidden, кнопка отображаться на панели не будет. Этот приём используется для скрытых или технических тегов.">
											Кнопка
										</span>
									</th>
									<th data-name="icon">
										<span class="table-editable-header" title="Опциональное поле: Иконка FontAwesome для кнопки.">
											Иконка
										</span>
									</th>
									<th data-name="takesArgument">
										<span class="table-editable-header" title="Если true, то тег можно писать так: [tag=&quot;argument&quot;][tag]. Можно использовать в вёрстке, например, кнопок или ссылок.">
											Принимает аргумент
										</span>
									</th>
									<th data-name="isContent">
										<span class="table-editable-header" title="Если true, то запрещает автоматическое оборачивание строки в параграф. Используется для кнопок, таблиц и т.д.">
											Это контент
										</span>
									</th>
									<th data-name="description">
										<span class="table-editable-header" title="Опишите в двух словах, что это за тег. Используется во всплывающих подсказках.">
											Описание
										</span>
									</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<!-- Строка-образец -->
								<tr class="hide">
									<td contenteditable="true">P</td>
									<td contenteditable="true">hidden</td>
									<td contenteditable="true"></td>
									<td contenteditable="true">false</td>
									<td contenteditable="true">true</td>
									<td contenteditable="true">Это всплывающая подсказка на кнопке.</td>
									<td>
										<span class="table-remove">❌</span>
									</td>
									<td>
										<span class="table-up">▲</span>
										<span class="table-down">▼</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="buttons">
						<button id="tagsSingleTableSave" class="button is-primary">Сохранить и применить</button>
						<button class="button tagsSingleUpdate">Откатить изменения</button>
					</div>
				</div>
				
				<div class="container content has-text-centered">
					<p>&nbsp;</p>
					<h3 class="subtitle">Шаблоны для вставки иконок в кнопку</h3>
					
					<div class="columns has-text-left" style="padding: 2rem">
						<div class="column">
							<div class="card">
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-4">Иконка и текст</p>
										</div>
									</div>
									<div class="content">
										<code>&lt;span class=&quot;icon-text&quot;&gt;<br>
											&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class=&quot;icon&quot;&gt;<br>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class=&quot;fas fa-home&quot;&gt;&lt;/i&gt;<br>
											&nbsp;&nbsp;&nbsp;&nbsp;&lt;/span&gt;<br>
											&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;Home&lt;/span&gt;<br>
										&lt;/span&gt;</code>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="card">
								<div class="card-content">
									<div class="media">
										<div class="media-content">
											<p class="title is-4">Только иконка</p>
										</div>
									</div>
									<div class="content">
										<code>&lt;span class=&quot;icon&quot;&gt;<br>
												&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class=&quot;fas fa-home&quot;&gt;&lt;/i&gt;<br>
											&&lt;/span&gt;</code>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="tab-pane" id="tab-single-templates">
				<div class="container content has-text-centered">
					<h3 class="title">Шаблоны непарных тегов</h3>
					
					<p>У непарных тегов только один шаблон.</p>
					
					<p>Вставляйте свой HTML-код прямо в поле редактирования. После окончания нажмите "Сохранить и применить" внизу.</p>
					
					<p>Не забудьте заменить все важные пробелы в начале и конце строк на <code>&amp;nbsp;</code>, иначе они будут вырезаны.</p>
					
					<p><strong>В теле шаблонов можно использовать следующие переменные:</strong></p>
					
					<div class="columns has-text-left">
						<div class="column">
							<ul>
								<li>
									<strong>$bannerLink$</strong> - ссылка на баннер
								</li>
								<li>
									<strong>$buttonColor$</strong> - цвет кнопок
								</li>
								<li>
									<strong>$linkColor$</strong> - цвет ссылок
								</li>
								<li>
									<strong>$fontColor$</strong> - цвет шрифта на кнопках и баннере
								</li>
							</ul>
						</div>
						<div class="column">
							<ul>
								<li>
									<strong>$gif1Link$</strong> - ссылка на гифку №1
								</li>
								<li>
									<strong>$gif2Link$</strong> - ссылка на гифку №2
								</li>
								<li>
									<strong>$mainLink$</strong> - основная ссылка
								</li>
								<li>
									<strong>$argument$</strong> - аргумент, переданный через [tag="текст"]
								</li>
							</ul>
						</div>
						<div class="column">
							<ul>
								<li>
									<strong>$header$</strong> - заголовок
								</li>
								<li>
									<strong>$preheader$</strong> - подзаголовок (прех)
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="buttons">
					<button class="button is-primary tagsSingleCardsSave">Сохранить и применить</button>
					<button class="button tagsSingleUpdate">Откатить изменения</button>
				</div>
				<div id="cardsTagsSingle" class="content has-text-left">
					<!-- Образец -->
					<div id="tagsPairedExample" class="has-text-left tag-card is-hidden" style="padding: 2rem">
						<div class="card">
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-4 data-tag-title-opening">[P]</p>
									</div>
								</div>
								<div class="content">
									<textarea class="textarea data-tag-opening" style="width:100%;"></textarea>
								</div>
								<div class="media">
									<div class="media-content">
										<p class="title is-4">Если аргумент пустой</p>
									</div>
								</div>
								<div class="content">
									<div class="control">
										<input type="text" class="input data-argument-alt">
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
				<div class="buttons">
					<button class="button is-primary tagsSingleCardsSave">Сохранить и применить</button>
					<button class="button tagsSingleUpdate">Откатить изменения</button>
				</div>
			</div> <!-- конец таба -->
		</div> <!-- конец табконтента -->
	</section> <!-- конец документа -->
	
	<!-- Сообщение об ошибке -->
	<div id="errorMsg" class="error-msg is-hidden">
		<div class="notification is-danger content">
			<button class="delete error-close"></button>
			<div id="errorText" class="error-text content"></div>
		</div>
	</div>
	
	<footer class="footer-custom has-background-dark has-text-white">
		<div class="content">
			<p>Copyright 2021 © Волегов Александр</p>
			<p>Если у вас возникли проблемы с сайтом, либо вы просто хотите оставить пожелания, пожалуйста, свяжитесь со мной:</p>
			<p>* <a href="https://t.me/EasternTIme">Telegram</a></p>
			<p>* <a href="mailto:a.volegov@likebz.ru">Рабочий Email</a></p>
			<p>* <a href="https://likecentr.bitrix24.ru/company/personal/user/5851/">Битрикс</a></p>
			<p>Сайт, включая серверную часть, находится под лицензией <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>. Любые исходники будут предоставлены мной по требованию.</p>
			<p>&nbsp;</p>
			<p>Сторонние лицензии в проекте:</p>
			<p>Фреймворк <strong>Bulma</strong> от <a href="https://jgthms.com">Jeremy Thomas</a> находится под лицензией <a href="http://opensource.org/licenses/mit-license.php">MIT/Expat</a>.</p>
			<p>Не упомянутые здесь библиотеки и функции принадлежат законным авторам и распространяются по их лицензиям.</p>
		</div>
	</footer>
	
	<script src="static/modules/handler.js"></script>
	<script src="static/modules/fetches.js"></script>
	<script src="static/MailSettings.js"></script>
	<script src="static/modules/editabletable.js"></script>

</body>
</html>