.uploadbox
				{
					font-size: 1.25rem; /* 20 */
					background-color: #c8dadf;
					position: relative;
					padding: 100px 20px;
				}
				.uploadbox.has-advanced-upload
				{
					outline: 2px dashed #92b0b3;
					outline-offset: -10px;

					-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
					transition: outline-offset .15s ease-in-out, background-color .15s linear;
				}
				.uploadbox.is-dragover
				{
					outline-offset: -20px;
					outline-color: #c8dadf;
					background-color: #fff;
				}
					.uploadbox__dragndrop,
					.uploadbox__icon
					{
						display: none;
					}
					.uploadbox.has-advanced-upload .uploadbox__dragndrop
					{
						display: inline;
					}
					.uploadbox.has-advanced-upload .uploadbox__icon
					{
						width: 100%;
						height: 80px;
						fill: #92b0b3;
						display: block;
						margin-bottom: 40px;
					}

					.uploadbox.is-uploading .uploadbox__input,
					.uploadbox.is-success .uploadbox__input,
					.uploadbox.is-error .uploadbox__input
					{
						visibility: hidden;
					}

					.uploadbox__uploading,
					.uploadbox__success,
					.uploadbox__error
					{
						display: none;
					}
					.uploadbox.is-uploading .uploadbox__uploading,
					.uploadbox.is-success .uploadbox__success,
					.uploadbox.is-error .uploadbox__error
					{
						display: block;
						position: absolute;
						top: 50%;
						right: 0;
						left: 0;

						-webkit-transform: translateY( -50% );
						transform: translateY( -50% );
					}
					.uploadbox__uploading
					{
						font-style: italic;
					}
					.uploadbox__success
					{
						-webkit-animation: appear-from-inside .25s ease-in-out;
						animation: appear-from-inside .25s ease-in-out;
					}
						@-webkit-keyframes appear-from-inside
						{
							from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
							75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
							to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
						}
						@keyframes appear-from-inside
						{
							from	{ transform: translateY( -50% ) scale( 0 ); }
							75%		{ transform: translateY( -50% ) scale( 1.1 ); }
							to		{ transform: translateY( -50% ) scale( 1 ); }
						}

					.uploadbox__restart
					{
						font-weight: 700;
					}
					.uploadbox__restart:focus,
					.uploadbox__restart:hover
					{
						color: #39bfd3;
					}

					.js .uploadbox__file
					{
						width: 0.1px;
						height: 0.1px;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						z-index: -1;
					}
					.js .uploadbox__file + label
					{
						max-width: 80%;
						text-overflow: ellipsis;
						white-space: nowrap;
						cursor: pointer;
						display: inline-block;
						overflow: hidden;
					}
					.js .uploadbox__file + label:hover strong,
					.uploadbox__file:focus + label strong,
					.uploadbox__file.has-focus + label strong
					{
						color: #39bfd3;
					}
					.js .uploadbox__file:focus + label,
					.js .uploadbox__file.has-focus + label
					{
						outline: 1px dotted #000;
						outline: -webkit-focus-ring-color auto 5px;
					}
						.js .uploadbox__file + label *
						{
							/* pointer-events: none; */ /* in case of FastClick lib use */
						}

					.no-js .uploadbox__file + label
					{
						display: none;
					}

					.no-js .uploadbox__button
					{
						display: block;
					}
					.uploadbox__button
					{
						font-weight: 700;
						color: #e5edf1;
						background-color: #39bfd3;
						display: none;
						padding: 8px 16px;
						margin: 40px auto 0;
					}
						.uploadbox__button:hover,
						.uploadbox__button:focus
						{
							background-color: #0f3c4b;
						}