.table-editable {
	position: relative;
}

.table-editable-header {
	border-bottom: 1px dashed;
}

.table-remove {
	color: #700;
	cursor: pointer;
}

.table-remove:hover {
	color: #f00;
}

.table-up, .table-down, .table-button {
	color: #007;
	cursor: pointer;
}

.table-up:hover, .table-down:hover, .table-button:hover {
	color: #00f;
}

.table-add {
	color: #070;
	cursor: pointer;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	line-height: 1;
}

.table-add:hover {
	color: #0b0;
}

@media(max-width: 767px) {
	.table-editable tr, .table-editable td, .table-editable th {
		font-size: 0.8em;
	}
	.table-editable span {
		font-size: 0.8em;
	}
	.table-add {
		top: 0.35em;
		right: 0.4em;
	}
}

.hide {
	display: none !important;
}