/* ================================ */
/* Copyright 2021 © Волегов Александр */
/* Author Волегов Александр */
/* Licensed under the Apache License, Version 2.0 */
/* ================================ */

.error-msg {
	position:fixed;
	top: 10px;
	width: 100%;
	z-index: 40;
	display: flex;
	justify-content: center;
}

.error-msg .notification {
	width: calc(100vw - 100px);
	max-width: 1024px;
}