body {
	background-color: #f0f0f3;
}

.content-table {
	padding: 10px 10px 10px 10px;
}

.colorPreview {
	width: 12px;
	height: 12px;
}

.noMargin {
	margin-bottom: 0 !important;
}

#previewArea {
	border: 1px black solid;
}

.listNumbers {
	list-style-type: decimal !important;
}

.listLetters {
	list-style-type: lower-alpha !important;
}

.listRoman {
	list-style-type: upper-roman !important;
}

.message-body-content ol {
	margin-top: 0 !important;
}

.navAnchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}

.whiteLink {
	color: #FFF !important;
	text-decoration: none !important;
	border-bottom: 1px dashed #FFF !important;
}

.blackLink {
	color: #111 !important;
	text-decoration: none !important;
	border-bottom: 1px dashed #111 !important;
}

.tighter-message:not(:last-child) {
	margin-bottom: 0.2rem !important;
}

.message-bg-grey {
	background-color: #d8d8d8 !important;
	border-radius: 4px 4px 4px 4px !important;
	cursor: pointer;
}

.message-bg-grey p {
	color: #111;
	text-decoration: underline;
	/* text-decoration-style: dashed; */
	font-weight: 600;
}

.vl {
	border-left: 1px solid #d8d8d8;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 5px;
	bottom: 5px;
}

.message-header-inline {
	align-items: center;
	display: flex;
	justify-content: space-between;
	line-height: 1.25;
	font-weight: 400;
	padding: .3em 1em;
	position: relative;
	cursor: pointer;
}

.collapsible-message {
	height: 0;
	/* max-height: 0; */
	overflow: hidden;
	transition: height .3s ease;
	padding: 0 !important;
}

/* .collapsible-message.is-active { */
	/* max-height: 1024px; */
/* } */

.collapsible-message.message-body .message-body-content {
	padding: 1em 1em;
}

.footer-custom {
	/* background-color: #36383e; */
	/* background: #36383e; */
	font-weight: 600;
	padding: 3rem 1rem 3rem;
}

.footer-custom p {
	/* color: #FFF; */
	margin-bottom: 0 !important;
	margin-left: 30px;
	font-size: smaller;
}

.footer-custom a {
	color: #809fff;
}

.footer-custom a:hover {
	color: #b3c6ff;
}

.footer-custom strong {
	color: #FFF;
	font-weight: bolder;
}

.tabs {
	margin-bottom: -1px !important;
	position: relative;
}
.tab-content {
	padding: 60px;
	color: #000;
}
.tab-pane {
	display: none;
}
.tab-pane.is-active {
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.is-scrollable {
	overflow: auto;
}

/* .fileName { */
	/* cursor: pointer; */
	/* color: blue; */
	/* text-decoration: underline; */
/* } */

/* .fileName:hover { */
    /* color: deepskyblue; */
/* } */

.editor {
	width: 100%;
	/* min-height: 400px; */
	/* height: 80vh; */
	height: 400px;
	border: 1px solid #4a4a4a;
	border-radius: 3px;
	background-color: white;
	overflow-y: auto;
	/* margin: 2rem; */
}

.editor .content-area {
	padding: 15px 12px;
	line-height: 1.5;
	outline: none;
	height: 100%;
}

.editor .content-area p {
	margin: 12px 0;
}

/* .editor .content-area { */
	/* padding: 15px 12px; */
	/* line-height: 1.5; */
/* } */
/* .editor .content-area .visuell-view { */
	/* outline: none; */
	/* height: 100%; */
/* } */
/* .editor .content-area .visuell-view p { */
	/* margin: 12px 0; */
/* } */